.brand-logo{
  width: 500px;
  height: 500px;
  position:absolute;
  z-index:10;
}

.floating{
  float: left;
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  position: absolute;
}

@-webkit-keyframes Floatingx{
  from {-webkit-transform:translate(0, 0px);}
  65% {-webkit-transform:translate(0, 5px);}
  to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
  from {-moz-transform:translate(0, 0px);}
  65% {-moz-transform:translate(0, 5px);}
  to {-moz-transform: translate(0, -0px);}
}


.scaling{
  float: left;
  -webkit-animation-name: scalex;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -moz-animation-name: scale;
  -moz-animation-duration:2s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:ease-in-out;
}

@-webkit-keyframes scalex{
  from {-webkit-transform: scale(0.9);}
  65% {-webkit-transform: scale(2.0);}
  to {-webkit-transform: scale(0.9);}
}

@-moz-keyframes scale{
  from {-moz-transform: scale(0.9);}
  65% {-moz-transform: scale(2.0);}
  to {-moz-transform: scale(0.9);}
}
#wrapper{
  width:100%;
  height:100%;
}

/*.logo_1{

  background:url(../images/logo/1.png) no-repeat 0 0;
  background-size: 100%;

}*/
.logo_1{

  background:url(../images/img-slider.png) no-repeat 0 0;
  background-size: 100%;

}

.logo_2{

  background:url(../images/img-slider1.png) no-repeat 0 0;
  background-size: 100%;
width: 120px;
  height: 120px;
}
.logo_3{

  background:url(../images/logo/3.png) no-repeat 0 0;
  background-size: 100%;

}
.logo_4{

  background:url(../images/logo/7.png) no-repeat 0 0;
  background-size: 100%;

}
.logo_5{
  width: 120px;
  height: 120px;
  background:url(../images/logo/5.png) no-repeat 0 0;
  background-size: 100%;

}
.logo_6 {
  background: url(../images/logo/11.svg) no-repeat 0 0;
  background-size: 100%;
}
  .logo_7{
    background:url(../images/logo/12.svg) no-repeat 0 0;
    background-size: 100%;
  }
.logo_8{
  background:url(../images/logo/8.png) no-repeat 0 0;
  background-size: 100%;
  width: 90px;
  height: 90px;
}
.logo_9{
  background:url(../images/logo/6.png) no-repeat 0 0;
  background-size: 100%;
}
.logo_10{
  background:url(../images/logo/9.png) no-repeat 0 0;
  background-size: 100%;
}

.logo_11{
  background:url(../images/logo/16.png) no-repeat 0 0;
  background-size: 100%;
  width: 25px;
}

.logo_12{
  background:url(../images/logo/15.png) no-repeat 0 0;
  background-size: 100%;
  //width: 25px;
}
.logo_13{
  background:url(../images/logo/21.png) no-repeat 0 0;
  background-size: 100%;
  width: 100px;
}
.logo_14{
  background:url(../images/logo/14.png) no-repeat 0 0;
  background-size: 100%;
//  width: 100px;
}
.logo_15{
  background:url(../images/logo/19.png) no-repeat 0 0;
  background-size: 100%;
  //  width: 100px;
}

#cloud1{
  top: 27%;
  left: 58%;
  z-index: 3;
  opacity: 0.5;
}
#cloud2{
  top: 16%;
  left: 34%;
  opacity: 0.8;
}
#cloud3{
  top: 71%;
  left: 32%;
  opacity: 0.6;
}
#cloud4{
  top: 58%;
  right: 41%;
  z-index: 5;
  opacity: 0.5;
}#cloud5{
   top: 30%;
   left: 24%;
  opacity: 0.6;
 }
#cloud6{
  bottom: -7%;
  right: 10%;
  /* opacity: 0.3; */
  }
  #cloud7{
    top: 73%;
    right: 47%;
    opacity: 0.5;
   }
#cloud8{
  top: 56%;
  left: 26%;
  opacity: 0.6;
}
#cloud9{
  top: 11%;
  right: 48%;
  opacity: 0.6;
}
#cloud10{
  top: 43%;
  left: 21%;
  opacity: 0.6;
}
#cloud11{
  top: 48%;
  right: 27%;
  opacity: 0.4;
}
#cloud12{
  top: 28%;
  right: 11%;
  opacity: 0.7;
}
#cloud13{
  top: 52%;
  right: 3%;
  opacity: 0.7;
}
#cloud14{
  top: 74%;
  right: 4%;
  opacity: 0.3;
}
#cloud15{
  top: 74%;
  right: 10%;
  opacity: 0.3;
}
