$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
//colors
$color_mountain_meadow_approx: #ebecee;
$color_niagara_approx: #16a085;
$white: #fff;
$color_mountain_mist_approx: #999;

//fonts
$font_0: sans-serif;



/* Space out content a bit */
/*
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
*/

/* Everything but the jumbotron gets side spacing for mobile first views */

@font-face {
  font-family: Montserrat_light;
  src: url(../fonts/Montserrat-Thin.otf);
}
@font-face {
  font-family: Montserrat_bold;
  src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat_semibold;
  src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: montserrat-medium;
  src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: SourceSansPro_light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: SourceSansPro_regular;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {

  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

h1 {
  font-size: 2.5vw;
}
h2 {
  font-size: 2.5vw;
}
p {
  font-size: 14px;
  color: #979494;
  font-family: SourceSansPro_regular;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.btn-toggle, .navbar-toggle{
  float: right;
  background: transparent;
  border: 0;
  /* font-size: 2em; */
  color: #fff;
  padding: 3px;
  /* width: 50px; */
  margin: 10px;
  border-radius: 4px;
}
.page-header {
  //background: $color_mountain_meadow_approx;
  //padding: 1em;
  overflow: hidden;
  //border-bottom: 6px solid $color_niagara_approx;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  border:0;
  //Instead of the line below you could use @include box-sizing($bs)
  box-sizing: border-box;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: top 0.6s;
  &.off-canvas {
    top: -89px;
  }
  &.fixed {
    top: 0;
    z-index: 9999;


  }
}
.bg{

  background: rgba(52, 93, 113, 0.48);
  height: 70px;
  box-shadow: 0 0 1px 1px rgba(9, 9, 9, 0.35);
}
.page-logo {
  max-width: 100px;
  height: auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.menu {
  overflow: hidden;
  list-style: none;
  li {
    float: left;
    font-family: $font_0;
    margin-left: 1em;
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
.page-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
}
.wow h4 {
  //font-size: 1.3vw;
  color: #ffffff;
  line-height: 1.3em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 5% auto;

}
.wow h5{
  color: #666363;
  font-family: SourceSansPro_light;
  font-weight: bold;
  margin: 8% auto 3%;
  font-size: 18px
}
#about p{
  font-size: 16px;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.navbar-toggle{
  background-color: rgba(26, 37, 53, 0.7);
}
.navbar-toggle .icon-bar{
  background: #ffffff;
}

.bg .navbar-brand > img{
  width: 75px;
}
.navbar-brand{
  height:auto;
  padding: 0;
}
.navbar{
  margin-bottom: 0;
}
.fa-search{
  position: relative;
  top: 15px;
  left: 15px;
  color: #ffffff;
}
.nav > li > a{
  //color: ##396071;
  //font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.nav > li > a:hover, .nav > li.active, .nav > li > a:focus{
  background:rgba(48, 88, 120, 0.42);
  color:#ffffff;
  outline: 0;
}

.btn-find{
  //position: absolute;
  //left: 25%;
  border-radius: 25px;
  background:#ffea00 ;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vmin;
  position: relative;
  text-transform: uppercase;
}
.btn-doc{
  border-radius: 25px;
  background:#ffea00 ;
  padding: 10px 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vmin;
  position: relative;
  text-transform: uppercase;
}
.btn.btn-find:hover, .btn.btn:focus{
  color: #747474;
}
.fa-long-arrow-right{
  margin: auto 10px;
}
.carousel {
 /* position: absolute;
  top: 50%;
  width: 75%;
  right: 0;*/
  color: #ffffff;
}
.navbar-collapse ul{
  //margin: auto 1%;
}
.carousel p{
  font-size: 2vmin;
  color: #ffffff;
}
.carousel-indicators{
  top: 180%;
  left: 62%;

}
.item .col-md-2{
  width: 10%;
  padding: 0;
  margin: 0;
}
.carousel-indicators li{
  background:rgba(48, 88, 120, 0.42);
  border-radius: 0;
  border: 0;
  height:20px;
  width: 5px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}
.carousel-indicators li.active{
  background:#e7ff89;
  border-radius: 0;
  border: 0;
  height:20px;
  width: 5px;
  -ms-transform: rotate(9deg); /* IE 9 */
  -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
  transform: rotate(9deg);
}
#sky{
  position: absolute;
  top: 0;
  width: 70%;
  right: 0;
}
#sky p{
  color: #ffffff;

}
#sky h1{
  //position: absolute;
 /* top: 5%;
  text-align: center;
  right: 5%;*/
  color: #ffffff;
  line-height: 1.5;
  z-index: 99;
  font-family: Montserrat;
  letter-spacing: 1px;
  font-size: 2.0vw;
  text-transform: uppercase;

}
#sky h1 span{
  color: #f8ec64;
  font-family: Montserrat_light;
  //font-size: 2.5vw;
  //font-weight: lighter;
}
.title{
  text-transform: uppercase;
  line-height: 2;
  margin: 7% auto;
  font-family: Montserrat_bold;
  font-size: 26px;
}
.profile{
  border-radius: 50%;
  //border:1px solid  rgba(48, 88, 120, 0.42);
  width:100px;
  height:100px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#about{
  background: url("../images/about-us.png");
  padding: 7% 15%;
  background-size: cover;
  background-repeat: no-repeat;
  //text-align: center;
}
#about .title:after{
  content: " ";
  display: block;
  background: #48c4d4;
  height: 3px;
  width: 15%;
left: 3%;
  position: absolute;
  //bottom: -29px;
}
#services{

  //padding: 2% 15%;

  margin-top: -3%;
  width: 100%;
  z-index:99;
}
.service{
  background: #12bfd6;
  //padding:1% 5%;
  margin: auto 15%;
  box-shadow: 0 0 1px 1px #c0c0c0;
}
#services h1{
  color: #e7ff89;
  text-transform: uppercase;
 // font-size: 27px;
  font-family: Montserrat_bold;
  //text-align: center;
}
.service_header{

  color: #ffffff;
  padding: 2% 0;
  /*border-style: solid;
  border-width: 17px 47px 6px 2px;*/
  border-style: solid;
  -moz-border-image: url(../images/border.png) 0 198 6 149 round;
  -webkit-border-image: url(../images/border.png) 0 198 6 149 round;
  -o-border-image: url(../images/border.png) 0 198 6 149 round;
  border-image: url(../images/border.png) 0 198 6 149 fill round;
  margin-bottom: 5%;
}

.service_header h6{
line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1vw;
}
.services{
  padding: 2% 5%;
  color: #ffffff;
  //text-align: center;
}
.services p{
  color: #ffffff;
  font-size: 16px;
  display: block; /* Fallback for non-webkit */
  /*display: -webkit-box;
  max-width: 400px;
  //height: $font-size*$line-height*$lines-to-show; !* Fallback for non-webkit *!
  margin: 0 auto;
  line-height: 1.4;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;*/
  text-align: justify;
  text-justify: inter-word;
  margin: 10% auto;
  font-family: SourceSansPro_regular;
}
.services .img-responsive{
  //margin: auto;
}
#last_project {
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}
#last_project{
   /* background:url("../images/bg.png");
    padding: 5% 15%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;*/
  background: #eeeff1;
  overflow: hidden;
  padding: 5% 15% 5%;

}
#last_project h1{
  //font-weight: bold;
  //font-size: 2vw;
  font-family:Montserrat_bold;
}
#last_project p{
  font-size: 15px;
  font-family: SourceSansPro_regular;
}
.btn-theme{
  border-radius: 20px;
  background: #48c4d4;
  color: #ffffff;
  box-shadow: 0 0 10px 1px rgba(85, 197, 211, 0.32);
  padding: 1% 6%;
  margin: 5% auto;
}
#achievement{
  background: url("../images/achivement.png");
  padding: 5% 15%;
  color:#ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#achievement p{
  color: #ffffff;
}
.icon{
  //margin: 2%;
  height: 100px;
}
/*.usd{
  border-style: solid;
  border-width: 0px 0px 0px 133px;
  -moz-border-image: url(../images/border1.png) 0 198 6 149 round;
  -webkit-border-image: url(../images/border1.png) 0 198 6 149 round;
  -o-border-image: url(../images/border1.png) 0 198 6 149 round;
  border-image: url(../images/border1.png) 0 198 6 149 fill round;
}*/
#testimonial{
  background: url("../images/testimonial.png");
  padding: 8% 0;
  text-align: center;
  height: 400px;

}
#carouselHacked{
  margin: auto;
  //width: 70%;
  /* border: 3px solid green; */
  padding: 10px;
}
#testimonial img{
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
}
#testimonial h4{
  margin: 10px;
}
#testimonial h5{
  margin:1% 10%;
  line-height: 1.5;
  font-family: 'Source Sans Pro', sans-serif;

}
.carousel-control.left, .carousel-control.right{
  background: none;
}
#contact{
  text-align: center;
padding: 2% 15%;
}
#contact h2{
  color:#48c4d4;
  text-transform: uppercase;
}
#contact h6{
  color: #979494;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-size: 14px;
}
#contact input, #contact select {
  outline: 0;
  border-width: 0 0 1px 0;
  border-color: #a7a7a7;
  margin:2%;
  padding: 2%;
  width:60%;
}
#contact input:focus #contact select:focus {
  border-color: #48c4d4;
}
#contact textarea{
  width: 80%;
  margin: 5% auto auto;
  min-height: 150px;
  border:1px solid #CCCCCC;
  //box-shadow: 0 0 1px 1px #CCCCCC;
  padding: 2%;
}
.btn:hover, .btn:focus, .btn.focus{
  color: #ffffff;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline: 0;
}
footer{
 /* -webkit-clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);
  clip-path: polygon(29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%);*/
  clip-path: polygon(0 70px, 1600px 0, 1600px 100%, 0 100%);
}
footer{
  background: #3f4b53;
  overflow: hidden;
  padding: 5% 0 0;
  color: #ffffff;
}
footer p{
  color: rgba(255, 255, 255, 0.84);
  font-size: 13px;
}
.footer_top{
  padding: 0 15%;
}
.footer_bottom{
  background: url("../images/footer.png");
  padding: 8% 15% 0;
}

.footer_bottom h5, .color_text{
  color:#48c4d4 ;
}
.footer_bottom ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_bottom li {
  margin:10px 10px 10px 0;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
}
.footer_bottom li a img{
  width:30px;
}
.footer_bottom li a{
  color:rgba(255, 255, 255, 0.84);
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;

  }
.about:after {
  content: "";
  width: 30px;
  height: 190px;
  background: url(../images/border2.png);
  top: -11px;
  right: 5px;
  position: absolute;
  display: inline-block;
}
#clients h1{
  font-size: 30px;
}
#sky i{
  padding: 10%;;

}
@media  screen and (min-width: 300px) {
  #home{
    background: #fafafa;
    //background: #ebecee;
  }
  #navbar{
    display: none;
  }
  #services{
    position: relative;
  }
  #clients{
    position: relative;
  }
  .mac{
    width: 150px;
  }
  .navbar-brand > img{
    width: 45px;
  }
  .btns{
    //top:23%;
    position: absolute;
    width: 100%;
    //display: none;
  }
  #sky h1{
    top: 1%;
    //text-align: center;
    /* text-align: center; */
    position: relative;
    right: 0;
    margin-bottom: 45%;
  }
  #sky i{
    font-size: 10px;
  }
  #particles-js{
    width: 75%;
    height: 30%;
  }
  .service_header{
    margin: auto 0;
    border-width: 0px 0px 0px 90px;

  }
  .layer{
    top: 10%;
    left: 70%;
  }
  #sky h1 span{
    font-weight: bold;
  }
  .footer_bottom .reach_us a{
    display: inline;
    cursor: pointer;
  }
  .footer_bottom .reach_us a span{
    display: none;
  }
  .footer_bottom .reach_us a img{
    width:30px;
    margin: 5px;
  }
  #carouselHacked{
    width: 100%;
  }
#testimonial img{
  margin: 1% 40%;

}
  .navbar-nav{
    background:rgb(235, 236, 238);
    width: 100%;
    display: none;
  }
  .navbar-nav{
    //margin: 0;
    margin: 10px 0;

  }
  .navbar-collapse{
    padding: 0;
    box-shadow: none;
  }
  .nav > li > a{
    font-size: 12px;
    color: #396071;
    //text-align: center;
    //padding-left: 15%;
    padding: 4% 10%;
    border-bottom: 1px solid rgba(51, 97, 122, 0.06);
    .fa{
      font-size: 17px;
      margin-right: 10px;
    }
  }
  #services h1{
    font-size:22px;
  }
  #sky p{
    margin-bottom: 2%;
    font-size: 11px;
  }
  #sky{
    //width: 70%;
    //text-align: center;
  }
  #why_aequalis{
    padding: 1% 15%;
    //padding: 45% 15%;
  }
  .off-canvas.fixed .navbar-header {
    background: rgba(29, 27, 27, 0.25);
  }
  #why_aequalis img{
    width:35px;
    margin: auto;
  }
  .scale:after{
    height: 100px;

  }
  #why_aequalis h3{
    font-size: 12px;
    margin: 2px;
  }
}
/*@media  screen and (min-width: 400px) {
  .btns{
    top:25%;
  }
}*/
@media  screen and (min-width: 550px) {
  .btns{
    //top:45%;
    display: block;
  }
  #sky i{
    font-size: 13px;
  }
  #why_aequalis{
    padding: 1% 15%;
   // padding: 25% 15%;
  }
}
@media  screen and (min-width: 760px) {
  #services h1{
    font-size:27px;
  }
  #navbar{
    display: block;
  }
    .navbar-brand > img{
      width: 85px;
    }
  .navbar-nav > li{
    float: none;
  }
  /*.btns{
    top:60%;
  }*/
  .mac{
    width: 290px;
  }
  #particles-js{
    width: 75%;
    height: 50%;
  }
  #sky h1{
  /*  top: 5%;
    !* text-align: center; *!
    right: 5%;*/
    //text-align: center;
    margin-bottom: 45%;
    right: 5%;
  }
  .service_header{
    margin: auto 15%;
    border-width: 0px 0px 0px 133px;

  }
  .layer{
    top: 25%;
    left: 70%;
  }
  #sky h1 span{
    font-weight: normal;
  }
  .footer_bottom .reach_us a{
    display: block;
    cursor: default;
  }
  .footer_bottom .reach_us a span{
     display: inline;
   }
  .footer_bottom .reach_us a img{
    width:34px;
    margin: 5px;
  }
  #carouselHacked{
    width: 70%;
    /* border: 3px solid green; */
  }
  .navbar-nav{
    background: #558ca3;
    width: 40%;
    display: none;
    margin-right: -7%;
    margin-top: 5%;
  }
  #home{
    background: transparent;
  }
  .nav > li > a{
    color: #ffffff;
    padding-left:5%;
    border-bottom: 1px solid rgba(215, 196, 87, 0.28);
    .fa{
      font-size: 17px;
      margin-right: 10px;
    }
  }
  #sky p{
    margin-bottom: 20%;
    font-size: 1.3vw;
    text-shadow: 0 0 1px #03A9F4;
  ;

  }
  #sky{
    //width: 50%;
    //text-align: center;
  }
  #why_aequalis{
    padding: 1% 15%;
   // padding: 10% 15%;
  }
  .scale:after{
    height: 55px;

  }
  .off-canvas.fixed .navbar-collapse{
    background: rgba(29, 27, 27, 0.25);
    height: 50px;
    box-shadow: 0 0 7px 1px #c0c0c0;
  }
  .off-canvas.fixed .navbar-header {
    background:transparent;
  }
  #why_aequalis img{
    width:65%;
    margin: 10px;
  }
  #why_aequalis h3{
    font-size: 20px;
    margin:10px auto;
  }
}
@media  screen and (min-width: 1000px) {

  .navbar-brand > img{
    width: 115px;
  }
  #particles-js{
    width: 75%;
    height: 100%;
  }
  #testimonial img{
    margin: 1% 45%;

  }
  .navbar-nav{
    width: 20%;
    margin-right: -4%;
    margin-top: 3%;
  }
}@media  screen and (min-width: 980px) {
  .btns{
    top:70%;
  }
}

@media  screen and (min-width: 1250px) {

  #services{
    //position: absolute;
  }
  #clients{
    position: absolute;
  }
  .mac{
    width: 350px;
  }
  .btns{
    top:90%;
  }
}
.service-empty{
  //padding: 15% 0;
}
.client-empty{
  padding: 13%;
}
#clients{
  padding: 2% 15%;

  margin-top: -30%;
  width: 100%;
}
.clients{
  background: #fff;
  text-align: center;
  padding: 2% 15%;
  box-shadow: 0 0 4px 2px rgba(9, 9, 9, 0.27);
}
.clients img{
  margin: 10%;
  /* border: 1px solid; */
  //padding: 10%;
  //width: 150px;
  width:60%;
}
#portfolio{
  //padding: 5% 15% 2%;
  background:url(../images/project.png);
  padding: 2% 0 2%;

}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  z-index: 999;
}
#header{
  background: #4fcddc; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #4fcddc , #7cdec7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4fcddc, #7cdec7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4fcddc, #7cdec7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4fcddc , #7cdec7); /* Standard syntax */
  text-transform: uppercase;
  padding: 1%;
  color: #ffffff;
  text-align: center;
  margin-bottom: 4%;
}
#header p{
  color:#ffffff;
}
.portfolio{
  padding: 2% 15%;

}
.image {
  /* background: rgba(204, 204, 204, 0.21); */
  padding: 10px;
  box-shadow: 0 0 1px 1px #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 2% ;

}
.image h4{
  color: #000000;
}
.portfolio img{
  width:100%;
  max-height: 155px;
  min-height: 155px;
  //min-height: 155px;
  border:1px solid #ccc;
}
#amount{
  color: #1b7fd4 !important;
  font-weight: bold;
  text-align: center;
}

a.btn-theme{
  color: #ffffff;
}

.back h4{
  //color: #e7ff89;
  font-family: Montserrat_semibold;
  text-transform: uppercase;
  font-size: 14px;
}
.front{
  //background: #19b8cd;
  background: rgba(255, 255, 255, 0.88);
  padding: 10px;
  max-height: 195px;
  min-height: 195px;
  /* border: 1px solid #26a9bb; */
  box-shadow: 0 0 1px 1px #27a4b4;
}
.back img{
  //width: 150px;
  margin: 10% 35%;
  width:60px;
}
/*
inspired from https://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.navbar-header{
  padding-left: 5%;
}

.sidenav {
  /*height: 100%;*/
  width: 0;
  position: fixed;
  z-index: 999999;
  top: 7%;
  right: 0;
  background-color: rgb(43, 80, 99);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
}

.sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  /*font-size: 25px;*/
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  background: #e6d735;
  font-size: 32px;
  height: 40px;
  width: 40px;
  padding: 1px 12px;
  /* margin: -2px; */
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;

  /* background-color: #323840; */
  /* background-image: url(main.css); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  right: 0;
}

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 20px;
  right: 0;
  background-color:rgba(9, 9, 9, 0.5);
  overflow: hidden;
  width: 88%;
  height: 0;
  transition: .5s ease;
  /* margin: 10px; */
  border-radius: 10px;
}

.image:hover .overlay {
  bottom: 0;
  height: 100%;
}
.overlay img{
  height: auto;
  border: 0;
  min-height: 0;
}
.text a{
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

//moving ojects


.layer{
 /* -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 50px 200px;
  margin: -50px -200px;
  left: 0px;
  top: 0px;*/
  position: absolute;

  width: 100%;
  height: 100%;
}
.layer img{
  width: 40%;
}
.bglayer{
  //background: url("../images/img-slider.png");
  z-index: 1;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 2000ms cubic-bezier(0.215, 0.61, 0.355, 1);  // Adds a delay for the movement
  transition: all 2000ms cubic-bezier(0.215, 0.61, 0.355, 1);  // Adds a delay for the movement

}

/*.frontlayer{
  background: url("img/1.png");
  z-index: 2;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 2000ms cubic-bezier(0.215, 0.61, 0.355, 1); // Adds a delay for the movement
  transition: all 2000ms cubic-bezier(0.215, 0.61, 0.355, 1); // Adds a delay for the movement
}*/


.moving-img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width:100%;
  height: 100%;
  //background:rgba(0, 0, 0, 0.07);
  h1{
    font-size: 100px;
    color: #fff;
    width: 30%;
    height: 11%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
  }
}
textarea {
  resize: none;
}
.footer_bottom .reach_us a{
  text-decoration: none;
  font-family: SourceSansPro_regular;
  color: rgba(255, 255, 255, 0.84);
  font-size: 13px;
  //display:block;
  margin: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.gallery-title
{
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
 /* font-size: 14px;
  !* border: 1px solid #42B32F; *!
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  margin: auto 10px 5%;
  padding: 5px 3%;
  background: #4fcddc; !* For browsers that do not support gradients *!*/

  font-size: 14px;
  border: 1px solid #73dacb;
  border-radius: 17px;
  text-align: center;
  color: #247f89;
  /* border: 0; */
  /* text-transform: uppercase; */
  margin: auto 10px 5%;
  padding: 5px 3%;
  /* background: #4fcddc; */

}
.filter-button:hover, .filter-button:focus, .btn-default.filter-button.active
{
  //border: 1px solid #42B32F;
  border-radius: 17px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #73dacb;
  background-color: #4fcddc;
  //box-shadow: 0 0 1px 1px #4fcddc;
  background: -webkit-linear-gradient(left, #4fcddc , #7cdec7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4fcddc, #7cdec7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4fcddc, #7cdec7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4fcddc , #7cdec7); /* Standard syntax */
}

/*.btn-default:active .filter-button:active
{
  background-color: #42B32F;
  color: white;
}*/

.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
button.close, .close:hover{
  float: none ;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  padding: 5px 10px;
  background: #5acfdd;
  border: 1px solid #e7e5e5;
}
.close .fa{
  font-size: 13px;
  margin-right: 5px;
  vertical-align: middle;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: #48c4d4;
  color: #fff;
}
.modal-header p{
  color:#ffffff;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: auto;
    margin: 30px 20%;
  }
}
.technology{
  box-shadow: 0 0 1px 1px #ccc;
  padding: 10px;
  /* width: 90%; */
  margin: 5% auto;
}

.modal-dialog .form-control{
  margin: 10px auto;
}
.modal-dialog .form-horizontal{
  margin: 5% 20%;
  //box-shadow: 0 0 7px 1px #c0c0c0;
  padding: 1%;
}
.modal-section{
  padding:3% 5%;
}
.modal-section p{
  font-size:15px;
}
.technology{
  //color: #48c4d4;

}
.block-chain, .web { display: none; }
.off-canvas.fixed .navbar-brand img{
  width:50px
}

/*#why_aequalis{
  clip-path: polygon(100% 19%, 100% 79%, 0 100%, 0 0);
}*/
#why_aequalis{
  //background:url("../images/why-aequalis.png");
  background: #f5f5f5;

 // padding: 10% 15%;
 /* background-size: cover;
  background-repeat: no-repeat;*/
}
.description{
  background: #ffffff;
  min-height: 250px;

}
/*.description h4{
  background: #cccccc;
  padding: 6% 10px;
  -webkit-clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 0);
  min-height: 80px;
  color: #000;
  font-weight: normal;
}*/

.description p{
  padding: 10px 10%;
}
.portfolio_disc{
  display:none;
  //text-align: center;
}
.fancybox-stage img{
  width: 100%;
  box-shadow: 0 0 5px 3px #ccc;
  //margin: 5% auto;
  /* border: 1px solid #ccc; */
  //box-shadow: 0 0 1px 1px #ccc;
}
.fancybox-stage p{
  font-size: 1.2em;
  //font-weight: bold;
  //text-align: center;
  color: #000;
  margin: 5%;
}
.fancybox-stage h3{
  text-align: center;
  color:#12bfd6;
  margin: 5% auto 5%;
}
.fancybox-slide>div{
  //margin: auto 20% !important;
  //text-align: center !important;
  //box-shadow: 0 0 6px 1px #009688;
  //border-radius: 10px;
  overflow-x: hidden;
  padding: 0;
}
.fancybox-slide{
  padding: 0 10%;
}
.fancybox-slide ul{
  padding: 0;
  text-align: center;
}
.fancybox-slide ul li{
  display: inline-block;
  margin: 10px;
  background: #12bfd6;
  padding:5px 10px;
  color:#ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight:normal;
}
.fancybox-arrow:after{
  background-color: #009688 !important;
}
#why_aequalis p{
  font-size: 3vmin;
}
.scale:after {
  content: "";
  display: block;
  background: url("../images/download.png") no-repeat;
  width: 20px;
  //height: 20px;
  //height: 100px;
  margin-left: 30%;
  /*float: left;
  margin: 0 6px 0 0;*/
}
.fancybox-close-small:after{
  top:0;
  right: 0;
  border-radius: 0;
  color: #ffffff;
  background-color: #12bfd6;
  border: 0;
}
/*Define Accordion box*/
/*.accordion { width:100%; overflow:hidden; margin:10px auto; color:#474747; background:#f1f1f1; padding:10px; }

!*General Accordion****************************************************************************!
!*Set style of open slide*!
.accordion section:target { background:#FFF; padding:10px;}
.accordion section:target:hover { background:#FFF; }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color:#7cdec7; padding:0; font-size: 1em}
.accordion section:target>div {display:block;    padding: 10% 0;}
.accordion section h2 a{padding:8px 10px;display:block; font-size:14px; font-weight:normal;color:#fff; text-decoration:none; }

!*set style of closed slide*!
.accordion section{ float:left;	overflow:hidden;
  color:#fff;
  //color:#333;
  cursor:pointer;
  //background: #333;
  background-color: #4fcddc;
  //box-shadow: 0 0 1px 1px #4fcddc;
  background: -webkit-linear-gradient(left, #4fcddc , #7cdec7); !* For Safari 5.1 to 6.0 *!
  background: -o-linear-gradient(right, #4fcddc, #7cdec7); !* For Opera 11.1 to 12.0 *!
  background: -moz-linear-gradient(right, #4fcddc, #7cdec7); !* For Firefox 3.6 to 15 *!
  background: linear-gradient(to right, #4fcddc , #7cdec7); !* Standard syntax *!
  margin:3px; }
.accordion section:hover {background:#7cdec7;}
.accordion section>div { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}

.horizontal section:after{top:140px;left:15px;}

!*Header of closed slide*!

!*On mouse over open slide*!
.horizontal :target{ width:85%;height:auto }
.horizontal :target h2{ top:0px;left:0;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media screen and (min-width: 300px) {
  .horizontal section h2 {

    transform: rotate(0deg);

  }
  .horizontal section{ width:100%; height:50px;
    -moz-transition:width 0.2s ease-out;
    -webkit-transition:width 0.2s ease-out;
    -o-transition:width 0.2s ease-out;
    -ms-transition:width 0.2s ease-out;
    transition:width 0.2s ease-out;
  }

}
@media screen and (min-width: 900px) {
  .horizontal section h2 {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width:240px; position:relative; left:-110px; top:85px;
  }
  .horizontal section{ width:3%; height:250px;
    -moz-transition:width 0.2s ease-out;
    -webkit-transition:width 0.2s ease-out;
    -o-transition:width 0.2s ease-out;
    -ms-transition:width 0.2s ease-out;
    transition:width 0.2s ease-out;
  }
}*/
.fancybox-bg{
  //background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
.navbar .dropdown-menu > li > a, .navbar .dropdown-menu > li > a:hover{
  color:#fff;
  background: transparent;
  font-size: 13px;
  padding: 10px;

}
.navbar .dropdown-menu{

  left:10% !important;
  color:#ffffff;
  position: inherit ;
  background: transparent !important;
  border:0 !important;
  box-shadow: none !important;
}
.dropdown-menu > li > a{
  font-size: 2vmin;
  padding: 10px 20px;
}
#portfolio h2{
  color:#7cdec7;
}
.portfolio-items .row{
  padding: 0 0 0 5%;
}
.products{
  max-height: 350px;
  overflow: auto;
  padding: 10px;
}
.products::-webkit-scrollbar-track
{
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: transparent;
}

.products::-webkit-scrollbar
{
  width: 2px;
  background-color: #F5F5F5;
}

.products::-webkit-scrollbar-thumb
{
  background-color: #b5afb5;
  border: 1px solid #b5afb5;
}
